body{
    box-sizing: content-box;
    background-color: #dbd6d62e;
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(5deg, #fcf8f2, #ffffff ,#ddb967, #dd752b); */
}

.nav-item{
    margin:0 25px;
}
.navbar-brand{
    margin-left: 116px;
    text-shadow: 0 0 20px #00ffff;
}

.wrapper {
    background: linear-gradient(-13deg, #65e9cf, #12bfff ,#6284e3, #045ED0);
    position: absolute;
    /* top: 13%; */
    right: 0;
    width: 35%;
    height: 100%;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E,#23A6D5,#23D5AB); */
    background-size: 500% 500%;
    opacity: 0.9;
    z-index: -1;
    -webkit-transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skewX(-38deg);
    -moz-transform: skewX(-38deg);
    transform: skewX(-31deg);
}

/*start login */
.login{
    width: 400px;
    position: absolute;
    background-color: white;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:20px;
    border-radius:25px;
    border: 3vmin solid hsl(100 100% 60%);
    border-image-slice: 1;
    
    /*  leverage cascade for cross-browser gradients  */
    border-image-source: linear-gradient(
    hsl(100 100% 60%),
    50%,
    hsl(200 100% 60%)
    );
    border-image-source: radial-gradient(
    hsl(100 100% 60%),
    75%,
    hsl(200 100% 60%)
    );
    border-image-source: conic-gradient( hsl(346deg 92% 49%), hsl(241deg 92% 49% / 95%), hsl(14deg 88% 44%) );
    place-content: center;
    box-sizing: border-box;
}
.login h3{
    margin-bottom: 20px;
}
.login .form-control, .login .btn {
    border-radius:10px;
    box-shadow: 0 4px 6px #ccc;
    /*filter: drop-shadow( 0 2px 3px black);*/
}
.login .form-control{
    margin-bottom: 10px;
}
.login .btn{
    margin-top: 10px;
    font-size: 20px;
}
/* end login */

.logo{
    width:30px
}
.slogan1{
    text-decoration: line-through;
    color:black
}
.back{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.6);
}
.slogan{
    text-shadow: 0 0 20px #00ffff;
    font-size: 50px;
    font-weight: 500;
    box-shadow: 0 0 20px #00ffff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    margin: 60px auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap; /* Keeps the content on a single line */
    border-right: .12em solid#00ffff; /* The typwriter cursor */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 4.5s steps(40, end),
    blink-caret 0.75s step-end infinite;;
}
.background{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1586773860418-d37222d8fce3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1352&q=80');
    background-size:100% 100%;

}
/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color:#00ffff; }
}

h1{
    margin: 20px;
}
.box{
    border: 15px inset #514abe;
    overflow: auto;
}
.box a{
    font-size: 35px;
    font-weight: bold;
}
td a{
    font-weight: bold;
    color: white;
}
i{
    margin-right:10px
}
a{
    text-decoration: none;
}
.big-circle{
    position: absolute;
    top:0;
    right:0;
    z-index:-1;
    opacity: 0.4;
    height:85%
}
.mid-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    height: 60%;
    opacity: 0.4;
}
.small-circle{
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}
#box2 ,#box3{
    visibility: hidden;
}
.br{
    margin-bottom: 25px;
}
.btn {
    transition: all ease-in-out 0.5s;
}
.btn:hover{
    color:black;
    background-color: white;
}
h5{
    margin:50px
}
#facebook{
    font-size: 19px;
}
.group,.box2{
    margin-top:50px
}
.box2{
    box-shadow: 0 0 20px #00ffff;
}
.upload{
    color:black;
    margin-top: 10px;
}
.comment a{
    color: black;
}
@media (max-width: 767.98px) { 
    .slogan{
        font-size: 17px;
    }
 }